body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    cursor: pointer;
}

#grid {
    display: flex;
    flex-direction: column;
}

#message {
    text-align: center;
}

.word {
    display: flex;
    gap: 5px;
    width: 325px;
    margin-bottom: 1em;
}

.letter {
    border: 5px solid;
    border-radius: 10px;
    aspect-ratio: 1/1;
    height: 30%;
    width: 20%;
    font-size: 48px;
    text-align: center;
}